.back-page{
    border: none;
    border-radius: 12px;
    background: #4c1a8d;
    text-align: center;
    padding: 15px 22px;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 1rem;
    transition: ease-in 0.1s;
}

.back-page:hover{
    background: #3d1275;
}

.name-pokemon{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #272525;
}
.sprite-pokemon{
    width: 35%;
    object-fit: contain;
}
.h1-top{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #0d0d0e;
    margin-top: 3rem;
}

.number-pokemon{
   margin: 0px 5px ;
   margin-top: 20px;
}

.type-pokemon{
    border-radius: 12px;
    text-transform: capitalize;
    padding: 10px 10px;
    font-weight: 700;
    cursor: default;
    margin: 15px;
    min-width: 100px;
    text-align: center;
}

.loading{
    width: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.table-ability{
    border: solid 1px #0d0d0e;
    border-radius:0.35rem;
    padding: 0px 0px;
}
.table-ability h1{
  font-size:1rem;
  text-align: center;
  font-weight:bold;
  margin-top:0;
}

.abilities-pokemon{
    border-bottom: #0d0d0e solid 1px;
    color: #242222;
    word-wrap: break-word;
    margin: 10px 0;
    font-weight: bold;
    padding: 5px 10px ;
}