.h1-top{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    color: #222121;
    margin-top: 5rem;
}

.saiba-pok{
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
    background: #ffff1c;
    border: none;
    border-radius: 0.5rem;
    color: #111010;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 0;
}

.listfooter{
    width: 100%; 
    object-fit: cover;
    
}

.list-pokemons{
    margin-top: 8rem;
    width: 100%;
    margin: 15px 15px;
    display: flex;
    flex-wrap: wrap;
}